.user-list {
  width: 50%;
  border: 1px solid #000;
  margin: 0px auto;
  border-collapse: collapse;
}

.user-list th {
  background-color: #ddd;
}

.user-list td, .user-list th {
  text-align: start;
  padding: 8px 16px;
  border: 1px solid #000;
}

.user-create {
  margin: 20px 500px;
  border: 1px solid #000;
  padding: 16px 8px;
  width: 500px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}